{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% set endpoints = [
    ('account.manage', '계정 정보'),
    ('account.manage_point', '포인트 충전'),
    ('account.change_email_request', '이메일 주소 변경'),
    ('account.change_password', '비밀번호 변경'),
    ('account.logout', '로그아웃')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro user_info(user) %}
    <table class="ui compact definition table">
        <tr>
            <td>성명</td>
            <td>{{ '%s %s' % (user.first_name, user.last_name) }}</td>
        </tr>
        <tr>
            <td>이메일 주소</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>계정 타입</td>
            <td>{{ user.role.name }}</td>
        </tr>
        <tr>
            <td>보유 포인트</td>
            <td>{{ user.total_point }}</td>
        </tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Settings
                <div class="sub header">Manage your account settings and change your login information.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if request.endpoint == 'account.manage_point' %}
                    <p>add point html</p>
                    <script src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"
                            type="text/javascript"></script>
                    <script>
                        var IMP = window.IMP; // 생략가능
                        IMP.init('imp63004671'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
                        IMP.request_pay({
                            pg: 'html5_inicis', // version 1.1.0부터 지원.
                            pay_method: 'card',
                            merchant_uid: 'merchant_' + new Date().getTime(),
                            name: '주문명:결제테스트',
                            amount: 100,
                            buyer_email: 'iamport@siot.do',
                            buyer_name: '구매자이름',
                            buyer_tel: '010-1234-5678',
                            buyer_addr: '서울특별시 강남구 삼성동',
                            buyer_postcode: '123-456',
                            m_redirect_url: '{{ url_for('account.manage_payment') }}'
                        }, function (rsp) {
                            if (rsp.success) {
                                var msg = '(1차 확인) 결제가 완료되었습니다.';
                                msg += '고유ID : ' + rsp.imp_uid;
                                msg += '상점 거래ID : ' + rsp.merchant_uid;
                                msg += '결제 금액 : ' + rsp.paid_amount;
                                msg += '카드 승인번호 : ' + rsp.apply_num;

                                // 가맹점 서버에 데이터를 전송하여 아임포트 서버에서 기록 조회시 사용
                                // 참고 https://github.com/iamport/iamport-manual/blob/master/%EC%9D%B8%EC%A6%9D%EA%B2%B0%EC%A0%9C/README.md
{#                               //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기#}
{#                                jQuery.ajax({#}
{#                                    url: "/payments/complete", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송#}
{#                                    type: 'POST',#}
{#                                    dataType: 'json',#}
{#                                    data: {#}
{#                                        imp_uid: rsp.imp_uid#}
{#                                        //기타 필요한 데이터가 있으면 추가 전달#}
{#                                    }#}
{#                                }).done(function (data) {#}
{#                                    //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우#}
{#                                    if (everythings_fine) {#}
{#                                        var msg = '(2차 확인) 결제가 완료되었습니다.';#}
{#                                        msg += '\n고유ID : ' + rsp.imp_uid;#}
{#                                        msg += '\n상점 거래ID : ' + rsp.merchant_uid;#}
{#                                        msg += '\결제 금액 : ' + rsp.paid_amount;#}
{#                                        msg += '카드 승인번호 : ' + rsp.apply_num;#}
{##}
{#                                        alert(msg);#}
{#                                    } else {#}
{#                                        //[3] 아직 제대로 결제가 되지 않았습니다.#}
{#                                        //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.#}
{#                                    }#}
{#                                });#}
                            } else {
                                var msg = '결제에 실패하였습니다.';
                                msg += '에러내용 : ' + rsp.error_msg;
                            }
                            alert(msg);
                        });
                    </script>
                {% elif form %}
                    {{ f.render_form(form, extra_classes='fluid') }}
                {% else %}
                    {{ user_info(user) }}
                {% endif %}
            </div>
        </div>
    </div>
    {{ check.password_check('new_password', 0) }}
{% endblock %}
