{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/nav_macros.html' as nav %}

{% block content %}
<div class="ui container">
    <h1>맞춤형 영상 추천</h1>
</div>
<div class="ui container" style="margin-top: 20px;">
    <table class="ui selectable celled table">
        <thead>
        <tr>
            <th>이름</th>
            <th>길이</th>
            <th>가격</th>
            <th>태그</th>
            <th>제공 업체</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr onclick="window.location.href = '{{ url_for('video.video_info', video_id=video.id) }}';">
                <td>{{ video.name }}</td>
                <td>{{ v.running_time.strftime('%M:%S') }}</td>
                <td>{{ video.price }}</td>
                <td>{{ video.tags }}</td>
                <td>{{ video.company }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
