{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/nav_macros.html' as nav %}

{% block content %}
    <div class="ui container">
        <h1>영상 정보</h1>
        <p>{{ videos.name }}</p>
    </div>
    <div class="ui container" style="margin-top: 20px;">
        <div class="ui embed" data-url="{{ videos.link }}"
             data-placeholder="{{ url_for('static', filename='images/survey_header.jpeg') }}"></div>
    </div>
    {% if videos.description %}
    <div class="ui text container raised segment" style="margin-top: 10px;">
        <h3>영상 세부 설명</h3>
        <p>{{ videos.description }}</p>
    </div>
    {% endif %}
    <script type="text/javascript">
        $('.ui.embed').embed();
    </script>
{% endblock %}
