<!DOCTYPE html>
{% import 'macros/form_macros.html' as f %}

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>video_page</title>
</head>

<body>
<div class="top-diary">
    <button type="button" class="btn">
        <a href="#">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true">뒤로</span>
        </a>
    </button>
    <div class="top-container">영상일지</div>
</div>

<div class="video_content">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="{{ videos.link }}"
                id="video_youtube"></iframe>
    </div>
</div>

{% if form %}
    {{ f.render_form(form, extra_classes='fluid') }}
{% endif %}
</body>
</html>
