{% block page_content %}
<strong class="tlt_question">배나 팔에 힘을 준다면 근육이 보이나요?</strong>
<div class="item_vote">
    <a class="link_item link_left" onclick='next("A", 4)'>
            <span class="txt_item">안보인다</span>
        </a>
    <a class="link_item link_right" onclick='next("B", 4)'>
            <span class="txt_item">미세하게 보인다</span>
        </a>
</div>
<div class="item_vote">
    <a class="link_item link_left" onclick='next("C", 4)'>
            <span class="txt_item">뚜렷하게 보인다</span>
        </a>
    <a class="link_item link_right" onclick='next("D", 4)'>
                <span class="txt_item">힘을 주지 않아도 보인다</span>
            </a>
</div>{% endblock %}