{% extends 'survey/base.html' %}
{% block page_head %}
<header class="survey-header" id="survey-main">
    <div class="site-heading">
        <h1>나에게 맞는 운동은?</h1>
        <span class="subheading">운동유형 테스트</span>
    </div>
</header>
{% endblock %}
{% block page_content %}
<strong>준비 됐나요?</strong>
<p> 평소의 당신과 더 가까운 보기를<br>완전 솔직하게 골라주세요.</p>
<a href="{{ url_for('survey.survey_page', page=1) }}" class="survey_start">준비 됐어요!</a>
    <a href="{{ url_for('main.index') }}"><p style="margin-top: 10px;">돌아가기</p></a>
{% endblock %}