/*sleep_page.css*/
.middle-tag {
  margin: 0 0 20px 115px;
}

.sleep_container {
  margin: 100px 0 0 45px;
}

#s_num {
  position: relative;
  right: -15px;
  width: 110px;
}

#f_num {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.b_button_s_num {
  margin: 90px 0 0 130px;
}
