{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <div class="row">
                <button class="ui button" onclick="location.href='{{ url_for('diary.manage') }}'">뒤로가기</button>
                <button class="ui button" onclick="location.href='{{ url_for('diary.manage_favorite_list', type_num=1) }}'">
                    음식 즐겨찾기 관리
                </button>
            </div>
            <h3>즐겨찾기 리스트</h3>
            <div class="ui grid">
                {% for item in items %}
                    <div class="three wide column">
                        <button class="ui button" onclick="onButtonClick('{{ item }}')">{{ item }}</button>
                    </div>
                {% endfor %}
            </div>
            <div class="ui divider"></div>
            <h3>식사 입력</h3>
            {{ f.render_form(form, extra_classes='fluid') }}
        </div>
    </div>
    <script type="text/javascript">
        function onButtonClick(name) {
            $("#name")[0].value = name;
        }
    </script>
{% endblock %}