<!DOCTYPE html>
{% import 'macros/form_macros.html' as f %}

<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/fit_page.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <title>fit_page</title>
</head>

<body>
  <div id="fit-wrap">
    <div class="top-search">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="# 헤시태그검색">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="fit-search">검색</button>
          </span>
        </div>
      </div>
    </div>
    <div class="middle-gif">
      <img id="Image-Maps-Com-image-maps-2017-10-23-220844" src="http://www.image-maps.com/m/private/0/rl1eok6l9pn6n3tj63qtl8do53_fit.gif" border="0" width="800" height="600" orgWidth="800" orgHeight="600" usemap="#image-maps-2017-10-23-220844" alt="" />
        <map name="image-maps-2017-10-23-220844" id="ImageMapsCom-image-maps-2017-10-23-220844">
          <area id="1" alt="" title="" href="'원하는 주소'" shape="rect" coords="21,24,86,107" style="outline:none;" target="_self"     />
          <area id="2" alt="" title="" href="'원하는 주소'" shape="rect" coords="124,28,180,101" style="outline:none;" target="_self"     />
          <area id="3" alt="" title="" href="원하는 주소" shape="rect" coords="224,35,284,101" style="outline:none;" target="_self"     />
          <area id="4" alt="" title="" href="'원하는 주소'" shape="rect" coords="319,26,390,97" style="outline:none;" target="_self"     />
          <area id="5" alt="" title="" href="'원하는 주소'" shape="rect" coords="412,37,467,104" style="outline:none;" target="_self"     />
          <area id="6" alt="" title="" href="'원하는 주소'" shape="rect" coords="513,29,579,103" style="outline:none;" target="_self"     />
          <area id="7" alt="" title="" href="'원하는 주소'" shape="rect" coords="618,19,684,100" style="outline:none;" target="_self"     />
          <area id="8" alt="" title="" href="'원하는 주소'" shape="rect" coords="707,25,786,102" style="outline:none;" target="_self"     />
          <area id="14" alt="" title="" href="'원하는 주소'" shape="rect" coords="509,119,583,187" style="outline:none;" target="_self"     />
          <area id="15" alt="" title="" href="'원하는 주소'" shape="rect" coords="623,119,685,188" style="outline:none;" target="_self"     />
          <area id="13" alt="" title="" href="'원하는 주소'" shape="rect" coords="413,113,485,197" style="outline:none;" target="_self"     />
          <area id="12" alt="" title="" href="'원하는 주소'" shape="rect" coords="315,112,393,193" style="outline:none;" target="_self"     />
          <area id="11" alt="" title="" href="'원하는 주소'" shape="rect" coords="222,124,287,190" style="outline:none;" target="_self"     />
          <area id="9" alt="" title="" href="'원하는 주소'" shape="rect" coords="12,121,99,196" style="outline:none;" target="_self"     />
          <area id="10" alt="" title="" href="'원하는 주소'" shape="rect" coords="116,112,193,195" style="outline:none;" target="_self"     />
          <area id="16" alt="" title="" href="'원하는 주소'" shape="rect" coords="714,117,776,186" style="outline:none;" target="_self"     />
          <area id="17" alt="" title="" href="'원하는 주소'" shape="rect" coords="15,223,77,299" style="outline:none;" target="_self"     />
          <area id="18" alt="" title="" href="'원하는 주소'" shape="rect" coords="121,230,183,299" style="outline:none;" target="_self"     />
          <area id="19" alt="" title="" href="'원하는 주소'" shape="rect" coords="227,229,289,298" style="outline:none;" target="_self"     />
          <area id="20" alt="" title="" href="'원하는 주소'" shape="rect" coords="325,223,387,302" style="outline:none;" target="_self"     />
          <area id="21" alt="" title="" href="'원하는 주소'" shape="rect" coords="421,225,483,302" style="outline:none;" target="_self"     />
          <area id="22" alt="" title="" href="'원하는 주소'" shape="rect" coords="517,229,579,298" style="outline:none;" target="_self"     />
          <area id="23" alt="" title="" href="'원하는 주소'" shape="rect" coords="628,217,690,298" style="outline:none;" target="_self"     />
          <area id="24" alt="" title="" href="'원하는 주소'" shape="rect" coords="722,224,786,304" style="outline:none;" target="_self"     />
          <area id="25" alt="" title="" href="'원하는 주소'" shape="rect" coords="20,318,84,406" style="outline:none;" target="_self"     />
          <area id="26" alt="" title="" href="'원하는 주소'" shape="rect" coords="127,317,191,405" style="outline:none;" target="_self"     />
          <area id="27" alt="" title="" href="'원하는 주소'" shape="rect" coords="225,316,289,404" style="outline:none;" target="_self"     />
          <area id="28" alt="" title="" href="'원하는 주소'" shape="rect" coords="334,320,398,408" style="outline:none;" target="_self"     />
          <area id="29" alt="" title="" href="'원하는 주소'" shape="rect" coords="428,316,492,404" style="outline:none;" target="_self"     />
          <area id="30" alt="" title="" href="'원하는 주소'" shape="rect" coords="517,317,581,405" style="outline:none;" target="_self"     />
          <area id="31" alt="" title="" href="'원하는 주소'" shape="rect" coords="631,316,695,404" style="outline:none;" target="_self"     />
          <area id="32" alt="" title="" href="'원하는 주소'" shape="rect" coords="716,321,793,405" style="outline:none;" target="_self"     />
          <area id="33" alt="" title="" href="'원하는 주소'" shape="rect" coords="12,410,89,494" style="outline:none;" target="_self"     />
          <area id="34" alt="" title="" href="'원하는 주소'" shape="rect" coords="119,418,196,502" style="outline:none;" target="_self"     />
          <area id="35" alt="" title="" href="'원하는 주소'" shape="rect" coords="220,411,297,495" style="outline:none;" target="_self"     />
          <area id="36" alt="" title="" href="'원하는 주소'" shape="rect" coords="328,409,405,493" style="outline:none;" target="_self"     />
          <area id="37" alt="" title="" href="'원하는 주소'" shape="rect" coords="406,414,483,498" style="outline:none;" target="_self"     />
          <area id="38" alt="" title="" href="'원하는 주소'" shape="rect" coords="510,410,587,494" style="outline:none;" target="_self"     />
          <area id="39" alt="" title="" href="'원하는 주소'" shape="rect" coords="617,407,694,491" style="outline:none;" target="_self"     />
          <area id="40" alt="" title="" href="'원하는 주소'" shape="rect" coords="719,421,799,491" style="outline:none;" target="_self"     />
          <area id="41" alt="" title="" href="'원하는 주소'" shape="rect" coords="13,499,95,597" style="outline:none;" target="_self"     />
          <area id="42" alt="" title="" href="'원하는 주소'" shape="rect" coords="125,514,179,597" style="outline:none;" target="_self"     />
          <area id="43" alt="" title="" href="'원하는 주소'" shape="rect" coords="220,510,295,599" style="outline:none;" target="_self"     />
          <area id="44" alt="" title="" href="'원하는 주소'" shape="rect" coords="326,514,406,599" style="outline:none;" target="_self"     />
          <area id="45" alt="" title="" href="'원하는 주소'" shape="rect" coords="434,509,487,598" style="outline:none;" target="_self"     />
          <area id="46" alt="" title="" href="'원하는 주소'" shape="rect" coords="512,510,583,600" style="outline:none;" target="_self"     />
          <area id="47" alt="" title="" href="'원하는 주소'" shape="rect" coords="620,508,691,600" style="outline:none;" target="_self"     />
          <area id="48" alt="" title="" href="'원하는 주소'" shape="rect" coords="731,515,800,600" style="outline:none;" target="_self"     />
          <area shape="rect" coords="798,598,800,600" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
        </map>

    </div>
    <div class="bottom-memo">
      <div class="input-group-bottom">
        <textarea rows="5" cols="45" placeholder="오늘 피드백 받은 내용을 적기 (예, 팔을 끝까지 펴지 않을 것.)"></textarea>
      </div>
    </div>
</div>

</body>
  {% if form %}
    {{ f.render_form(form, extra_classes='fluid') }}
  {% endif %}

</html>
