{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block custom_head_tags %}
    {{ moment.include_moment() }}
{% endblock %}

{% set endpoints = [
    ('diary.manage', '당일 기록 현황'),
    ('diary.add_water_sleep', '물 섭취/수면시간 기록하기'),
    ('diary.add_exercise', '운동 기록하기'),
    ('diary.add_diet', '식사 기록하기'),
    ('diary.diary_book', '전체 일지 열람')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro diary_info(user, user_diary) %}
    {% set water_sleep = user_diary.water_sleeps.first() %}
    <h2>{{ moment(user_diary.datetime).format('YYYY-MM-DD') }}</h2>
    <h3>물</h3>
    <table class="ui compact definition table">
        <tr>
            <td>물</td>
            <td>{% if water_sleep %}{{ water_sleep.water }}{% else %}0{% endif %} 잔</td>
        </tr>
    </table>
    <h3>수면</h3>
    <table class="ui compact definition table">
        <tr>
            <td>수면</td>
            <td>{% if water_sleep %}{{ water_sleep.sleep }}{% else %}0{% endif %} 시간</td>
        </tr>
    </table>
    <h3>운동</h3>
    <table class="ui compact definition table">
        {% for e in user_diary.exercises %}
            <tr>
                <td>{{ e.type }}</td>
                <td>{{ e.lap }}회</td>
            </tr>
        {% endfor %}
    </table>
    <h3>식사</h3>
    <table class="ui compact definition table">
        {% for e in user_diary.diets %}
            <tr>
                <td>{{ e.type }}</td>
                <td>{{ e.fullness }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                운동 일지
            </h2>
            <p>매일 매일 꾸준히 기록해주세요.놀랍게 변하는 당신을 보시게 될 것입니다.</p>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if form %}
                    {{ f.render_form(form, extra_classes='fluid') }}
                {% else %}
                    {% for user_diary in user_diarys %}
                        {{ diary_info(user, user_diary) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
