<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/myquestion_page.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <title>myquestion_page</title>
</head>

<body>
  <div class="top-diary">
    <button type="button" class="btn"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true">뒤로</span></button>
    <div class="top-container">나의문진</div>
  </div>
  <div class="top-diary">
    <div class="top-container2">분기별(1년에 2번 할 예정)</div>
  </div>

  <div class="my_question">
      문진표작성중
  </div>


  <div class="b_button">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-default">저장하기</button>
  </div>
  </div>
</body>
</html>
