<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/sleep_page.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <title>sleep_page</title>
</head>

<body>
  <div class="top-diary">
    <button type="button" class="btn"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true">뒤로</span></button>
    <div class="top-container">수면일지</div>
    <div class="page-header">
      <h2><input type="date" id="now_date">
      <script>
      document.getElementById('now_date').valueAsDate = new Date();
      </script>
      </h2>
    </div>
  </div>
  <div class="middle-tag">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">#해시태그 등록하기</button>
    </div>
  </div>

  <div class="sleep_container">
    <div class="f_4" id="f_num">수면상태 :<input type="number" name="userid" autocomplete="off" placeholder="0 ~ 12 시간" class="main_input" style='IME-MODE: disabled' min="1" max="12" id="s_num">
    </div>
  </div>

  <div class="b_button_s_num">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-default">저장하기</button>
  </div>
  </div>

</body>
</html>
