<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/tag_page.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <title>tag_page</title>
</head>

<body>
  <div class="top-diary">
    <button type="button" class="btn"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true">뒤로</span></button>
    <div class="top-container">해시태그검색</div>
    <input type="text" class="form-control" placeholder="검색" id="tag_search">
  </div>

 <div class="post">
  <div class="post1">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Charles  #운동일지</h5>
        운동하러가자와함께한 2일차운동
      </div>
    </div>
  </div>

  <div class="post2">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Charles  #운동일지</h5>
        운동하러가자와함께한 2일차운동
      </div>
    </div>
  </div>

  <div class="post3">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Charles  #운동일지</h5>
        운동하러가자와함께한 2일차운동
      </div>
    </div>
  </div>

  <div class="post4">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">Charles  #운동일지</h5>
        운동하러가자와함께한 2일차운동
      </div>
    </div>
  </div>
</div>

</body>
</html>
